<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link"  routerLink="/Home" routerLinkActive="active">Home</a>
          </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/SignUp" routerLinkActive="active">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/SignIn" routerLinkActive="active">SignIn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/AboutUs" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/ContactUs" routerLinkActive="active">Contact Us</a>
      </li>
    </ul>
  </nav>
